.header {
  width: 100%;
  height: 7rem;
  display: flex;
  padding: 0 17rem;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 100;
}

.logo {
  color: #555;
}

.logo img {
  width: 5%;
  height: 5%;
  border-radius: 50%;
}

.nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}

.nav li {
  margin-left: 1.5rem;
  font-size: 1.7rem;
}

.nav a {
  text-decoration: none;
  color: #555;
}

.nav a:hover,
.nav a:active,
.nav a.active {
  color: #000;
  text-decoration: underline;
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  .header {
    padding: 0 7rem;
  }
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {
  .header {
    padding: 0 3rem;
  }
  .logo img {
    width: 7%;
    height: 7%;
  }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  .header {
    padding: 0 1rem;
  }
  .logo img {
    width: 9%;
    height: 9%;
  }
}
