.headerName {
  font-weight: bolder;
  font-size: 6rem;
  color: #000;
}

.typewriter {
  font-weight: 500;
  font-size: 3rem;
  line-height: 1.2;
}

.textType {
  color: #000;
  font-weight: bold;
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 75em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }
}
